@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: white;
  --text-color: black;
  --text-header: #009788;
  --border-nav: #009788;
  --nav-color: white;
  --btn-color: #009788;
  --footer-color: #ffffff;
  --footer-text: black;
  --footer-link: #6b7280;
  --accent-color: #009788;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #ffffff;
  --text-header: #009788;
  --border-nav: #009788;
  --nav-color: #00000081;
  --btn-color: #00000081;
  --footer-color: #00000081;
  --footer-text: #ffffff;
  --footer-link: #6b7280;
  --accent-color: #009788;
}

[data-theme="blue"] {
  --bg-color: #141e30;
  --text-color: #ffffff;
  --text-header: #ffffff;
  --border-nav: #009788;
  --nav-color: #141e30;
  --btn-color: #009788;
  --footer-color: #141e30;
  --footer-text: #ffffff;
  --footer-link: #6b7280;
  --accent-color: #009788;
}

[data-theme="purple"] {
  --bg-color: #1a1830;
  --text-color: #ffffff;
  --text-header: #ffc800;
  --border-nav: #ffc800;
  --nav-color: #121327;
  --btn-color: #ffc800;
  --footer-color: #121327;
  --footer-text: #ffffff;
  --footer-link: #ffc800;
  --accent-color: #ffc800;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

#button{
  background-color: var(--btn-color);
  border: 1px solid var(--border-nav);
}

#header{
  color: var(--text-header);
}

.nav{
  background-color: var(--nav-color);
  border-bottom: 1px solid var(--border-nav);
}

footer{
  background-color: var(--nav-color);
  border-top: 1px solid var(--border-nav);
}

.footer-text{
  color: var(--footer-text);
}

.footer-link{
  color: var(--footer-link);
}

.btn-primary{
  background-color: var(--btn-color);
  border: 1px solid var(--border-nav);
}

.btn-outlined{
  background-color: var(--bg-color);
  border: 1px solid var(--border-nav);
  color: var(--text-header);
}

.btn-outlined:hover{
  background-color: var(--btn-color);
  color: var(--bg-color);
}

.btn-primary:hover{
  background-color: var(--bg-color);
  color: var(--btn-color);
}

.accent-color{
  color: var(--accent-color);
  fill: var(--accent-color);
}